<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.owoShopKeeperPanel">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true"
        tools:targetApi="o" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".login.forgetPin.ForgetPin"/>
        <activity android:name=".myShopRelated.debt.AddAUserDebtDetails" />
        <activity android:name=".myShopRelated.debt.DebtDetailsForACustomer" />
        <activity android:name=".myShopRelated.debt.AddAUserDebt" />
        <activity android:name=".myShopRelated.debt.UserDebtDetails" />
        <activity android:name=".shopKeeperPanel.product_related.BrandWiseProduct" />
        <activity android:name=".homeComponents.categoryComponents.Categories" />
        <activity android:name=".shopKeeperPanel.Calculator" />
        <activity android:name=".myShopRelated.AddProductToShop" />
        <activity android:name=".myShopRelated.NewProductAdding" />
        <activity android:name=".myShopRelated.CompletedOrders" />
        <activity android:name=".myShopRelated.PendingOrders" />
        <activity android:name=".myShopRelated.ViewOffers" />
        <activity android:name=".myShopRelated.AddANewOffer" />
        <activity android:name=".myShopRelated.ViewAvailableProductToSell" />
        <activity android:name=".myShopRelated.AddProductToMyShop" />
        <activity android:name=".shopKeeperPanel.Order_details_for_single_item" />
        <activity android:name=".shopKeeperPanel.Order_list" />
        <activity android:name=".shopKeeperPanel.product_related.SubCategoryWiseProduct" />
        <activity
            android:name=".homeComponents.categoryComponents.CategoryWiseProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperSettings.ChangePin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopCart.CartActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name=".shopKeeperPanel.ZoomProductImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.WishList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopRegistration.AfterShopRegisterRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.ConfirmFinalOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcomeScreens.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopKeeperPanel.MyProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.StoreSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.MyShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.Contact_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.SetPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.ForgetVerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.ForgetPinOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperSettings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopRegistration.AfterUserRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userRegistration.TermsConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userRegistration.VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userRegistration.UserRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopKeeperPanel.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopRegistration.ShopRegistrationRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeComponents.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>



</manifest>