<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shopKPR">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true"
        tools:targetApi="o" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service
            android:name="com.shopKPR.pushNotification.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name="com.shopKPR.login.forgetPin.ForgetPin"/>
        <activity android:name="com.shopKPR.myShopManagement.userDebts.debt.AddAUserDebtDetails" />
        <activity android:name="com.shopKPR.myShopManagement.userDebts.debt.DebtDetailsForACustomer" />
        <activity android:name="com.shopKPR.myShopManagement.userDebts.debt.AddAUserDebt" />
        <activity android:name="com.shopKPR.myShopManagement.userDebts.debt.DebtDetailsDashBoard" />
        <activity android:name="com.shopKPR.shopKeeperPanel.product_related.BrandWiseProduct" />
        <activity android:name="com.shopKPR.homeComponents.categoryComponents.Categories" />
        <activity android:name="com.shopKPR.shopKeeperPanel.Calculator" />
        <activity android:name="com.shopKPR.myShopRelated.AddProductToShop" />
        <activity android:name="com.shopKPR.myShopRelated.NewProductAdding" />
        <activity android:name="com.shopKPR.myShopRelated.CompletedOrders" />
        <activity android:name="com.shopKPR.myShopRelated.PendingOrders" />
        <activity android:name="com.shopKPR.myShopRelated.ViewOffers" />
        <activity android:name="com.shopKPR.myShopRelated.AddANewOffer" />
        <activity android:name="com.shopKPR.myShopRelated.ViewAvailableProductToSell" />
        <activity android:name="com.shopKPR.myShopRelated.AddProductToMyShop" />
        <activity android:name="com.shopKPR.orders.orderItem.OrderedItemDetails" />
        <activity android:name="com.shopKPR.orders.allOrders.OrdersList" />
        <activity android:name="com.shopKPR.shopKeeperPanel.product_related.SubCategoryWiseProduct" />
        <activity
            android:name="com.shopKPR.homeComponents.categoryComponents.CategoryWiseProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperSettings.ChangePin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.cart.CartActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name="com.shopKPR.shopKeeperPanel.ZoomProductImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.wishList.WishList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperPanel.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopRegistration.AfterShopRegisterRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.orderConfirmation.ConfirmFinalOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.welcomeScreens.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shopKPR.shopKeeperPanel.MyProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperPanel.StoreSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperPanel.MyShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperPanel.Contact_us"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperPanel.SetPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperPanel.ForgetVerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperPanel.ForgetPinOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopKeeperSettings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopRegistration.AfterUserRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.userRegistration.TermsConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.login.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.userRegistration.VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.userRegistration.UserRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.products.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.shopRegistration.ShopRegistrationRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shopKPR.homeComponents.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>



</manifest>