<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owoshopkeeperpanel">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".shopKeeperPanel.CartActivity"></activity>
        <activity android:name=".shopKeeperPanel.SplashScreenActivity" />
        <activity android:name=".shopKeeperPanel.MyProductsActivity" />
        <activity android:name=".shopKeeperPanel.StoreSettingsActivity" />
        <activity android:name=".shopKeeperPanel.MyShopActivity" />
        <activity android:name=".shopKeeperPanel.Contact_us" />
        <activity android:name=".shopKeeperPanel.SetPinActivity" />
        <activity android:name=".shopKeeperPanel.ForgetVerifyPhoneActivity" />
        <activity android:name=".shopKeeperPanel.ForgetPinOtpActivity" />
        <activity android:name=".shopKeeperPanel.SettingsActivity" />
        <activity android:name=".shopKeeperPanel.LocationFromMap" />
        <activity android:name=".shopKeeperPanel.AfterRegisterActivity" />
        <activity android:name=".shopKeeperPanel.TermsConditionsActivity" />
        <activity android:name=".shopKeeperPanel.MainActivity" />
        <activity android:name=".shopKeeperPanel.VerifyPhoneActivity" />
        <activity android:name=".shopKeeperPanel.RegisterWithOTPActivity" />
        <activity android:name=".shopKeeperPanel.RegisterFrontActivity" />
        <activity android:name=".shopKeeperPanel.ProductDetailsActivity" />
        <activity android:name=".shopKeeperPanel.DummyPendingShopActivity" />
        <activity android:name=".shopKeeperPanel.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>